[submodule "vendor/src/github.com/onsi/gomega"]
	path = vendor/src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega.git
[submodule "vendor/src/github.com/onsi/ginkgo"]
	path = vendor/src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo.git
[submodule "vendor/src/github.com/streadway/amqp"]
	path = vendor/src/github.com/streadway/amqp
	url = https://github.com/streadway/amqp.git
[submodule "vendor/src/github.com/PuerkitoBio/goquery"]
	path = vendor/src/github.com/PuerkitoBio/goquery
	url = https://github.com/PuerkitoBio/goquery.git
